@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(to right, #0099f7, #f11712);
}

@media screen and (max-width:840px){
  .slick-slider{
    width: 90%;
      margin: auto;
  }
}
 
@media screen and (max-width:768px){
  .slick-slider{
    width: 75%;
      margin: auto;
  }
}

@media screen and (max-width:550px){
  .slick-slider{
    width: 85%;
      margin: auto;
  }
}

.slick-slider{
  /* width: 75%; */
    margin: auto;
}

.slick-slide{
  width: 30%;
}
